.intro__list {
    list-style: none;
    margin: 0;
    padding: 33px 0 0;
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
@media screen and (max-width: 544px) {
    .intro__list {
        padding: 34px 0 0;
    }
}