.cover__subtitle {
    z-index: 4;
    position: absolute;
    max-width: 360px;
    min-height: 66px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 429px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 16px;
    text-align: center;
}

@media screen and (max-width: 1152px) {
    .cover__subtitle {
        top: 379px;
    }
}

@media screen and (max-width: 896px) {
    .cover__subtitle {
        top: 299px;
    }
}

@media screen and (max-width: 544px) {
    .cover__subtitle {
        top: 119px;
        width: 288px;
        min-height: 48px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 8px;
    }
}