    .content__intro-position {
    margin: 46px  0 46px 148px;
}

@media screen and (max-width: 1152px) {
    .content__intro-position {
        margin: 46px  0 46px 148px;
    }
}

@media screen and (max-width: 896px) {
    .content__intro-position {
        margin: 44px  24px 44px 24px;
    }
}

@media screen and (max-width: 544px) {
    .content__intro-position {
        margin: 32px  16px 32px 16px;
    }
}