.content__photo-grid-position {
    padding: 46px 0  46px;
    margin: 0 auto;
   }
   @media screen and (max-width: 896px) {
       .content__photo-grid-position {
           padding: 44px 0 44px;
       }
   }
   
   @media screen and (max-width: 544px) {
       .content__photo-grid-position {
           padding: 32px 0  32px;
       }
   }