.lead__image {
    padding: 32px 0 8px;
    margin: 0 auto;
    height: 615px;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1152px) {
    .lead__image {
        max-height: 580px;
        padding: 28px 0 8px;
    }
}

@media screen and (max-width: 896px) {
    .lead__image {
        max-height: 480px;
    }
}

@media screen and (max-width: 544px) {
    .lead__image {
        max-height: 200px;
        padding: 20px 0 8px;
    }
}