.page__footer-position {
    margin: 46px 48px 0;
    }
    
    @media screen and (max-width: 896px) {
        .page__footer-position {
            margin: 24px auto 0;  
        }
    }
    
    @media screen and (max-width: 544px) {
        .page__footer-position {
            margin: 32px auto 0 16px;  
        }
    }