.cover {
    width: 1184px;
    min-height: 740px;
    position: relative;
}

@media screen and (max-width: 1152px) {
    .cover {
    width: 100vw;
    min-height: 640px;
    }
}

@media screen and (max-width: 896px) {
    .cover {
    width: 100vw;
    min-height: 480px;
    }
}

@media screen and (max-width: 544px) {
    .cover {
    width: 100vw;
    min-height: 200px;
    }
}