.cover__overlay {
    max-width: 1184px;
    min-height: 740px;
    background: rgba(42, 44, 47, 0.3);
    z-index: -1;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 1152px) {
    .cover__overlay {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 896px) {
    .cover__overlay {
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 544px) {
    .cover__overlay {
        width: 100%;
        min-height: 200px;
    }
}