.footer {
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
@media screen and (max-width: 1152px) {
    .footer {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 896px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 564px) {
    .footer {
        max-width: 186px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}