.footer {
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
@media screen and (max-width: 1152px) {
    .footer {
        width: 928px;
        min-height: 18px;
    }
}

@media screen and (max-width: 896px) {
    .footer {
        width: 720px;
        min-height: 18px;
    }
}

@media screen and (max-width: 544px) {
    .footer {
        width: 186px;
        min-height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}