.footer__position {
margin: 46px 48px 0;
}

@media screen and (max-width: 896px) {
    .footer__position {
        margin: 44px auto 0;  
    }
}

@media screen and (max-width: 544px) {
    .footer__position {
        margin: 32px auto 0 16px;  
    }
}