.photo-grid__position {
 padding: 46px 0  46px;
 margin: 0 auto;
}
@media screen and (max-width: 896px) {
    .photo-grid__position {
        padding: 24px 0  24px;
    }
}

@media screen and (max-width: 544px) {
    .photo-grid__position {
        padding: 32px 0  32px;
    }
}
